html, body, #root {
  height: 100%;
  margin: 0;   /* remove default spacing */
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
  /* position: relative; */
}